# Created by https://www.toptal.com/developers/gitignore/api/java,gradle
# and merged by Gemini

### Java ###
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.log
hs_err_pid*
replay_pid*

### Gradle ###
.gradle
build/
target/
gradle-app.setting
.gradletasknamecache
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle/wrapper/gradle-wrapper.jar

### macOS ###
.DS_Store
.AppleDouble
.LSOverride

### IDEs ###
# Visual Studio Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# BlueJ
*.ctxt

# J2ME
.mtj.tmp/

# Temporary files
*~
*.tmp