/build/
/bin/
/out/
.gradle/
.idea/
/*.iml
*.log
*.class
*.jar
*.war
*.db
.env
.DS_Store
.vscode/

# Gradle Wrapper files
gradlew
gradlew.bat
gradle/
gradle/wrapper/
/bin/gradle-wrapper.jar
/bin/main/
